#epic_header {
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 117;
}

body {
    background-color: black;
    height: 100vh;
}

button {
    
    border: none;
    padding: 4rem;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 50px;

}

#buddons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#buddon {
    background-color: rgb(124, 182, 17);
    cursor: move;
}

#buddon2 {
    background-color: yellow;
    background-position: center;
    background-size: cover;
    cursor: none;
}
